/* variables */
/* mixins */
/* component styles */
body {
  font-family: "Glober", "Roboto", sans-serif;
  color: #000; }

a {
  color: #0080ff;
  text-decoration: underline; }

table {
  border: 2px solid #000;
  border-top: none; }
  table caption {
    border: 2px solid #000;
    border-bottom: none;
    text-align: center;
    font-size: 30px;
    font-weight: 700; }

section {
  padding: 30px; }

/* layout styles */
.phone {
  font-weight: 700;
  font-size: 16px; }
  .phone #ph-number {
    color: #0080ff; }

.speak-to-specialist {
  display: block;
  background-image: url(../images/phone%20icon.png);
  background-repeat: no-repeat;
  padding-left: 25px; }

.product-intro {
  background-image: url(../images/green.png); }
  .product-intro p {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 20px; }
  .product-intro h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 700; }

.btn-default {
  background-color: #11a907;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
  border-bottom: 4px solid #0c7805; }

.btn-lg {
  border-bottom: 6px solid #0c7805; }

.price-package {
  -webkit-box-shadow: 0px 0px 11px 2px #757575;
  -moz-box-shadow: 0px 0px 11px 2px #757575;
  box-shadow: 0px 0px 11px 2px #757575;
  background-color: #fff;
  padding: 20px 10px; }
  .price-package h2 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px; }
  .price-package p {
    margin-bottom: 0px;
    color: #0080ff;
    font-weight: 700; }
  .price-package p.price {
    color: #000;
    font-size: 26px; }
    .price-package p.price span {
      text-decoration: underline;
      font-size: 10px; }
  .price-package p.day-deal {
    display: block;
    color: #000;
    background-image: url(../images/highlight.png);
    background-repeat: no-repeat;
    background-position: 40px -2px; }
  .price-package .deal {
    display: block;
    background-image: url(../images/Ellipse2.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 84px;
    height: 84px;
    position: absolute;
    top: 0px;
    color: #fff;
    font-weight: 700;
    right: 0;
    padding: 20px;
    font-size: 22px; }
    .price-package .deal span {
      font-size: 12px;
      margin-top: -5px;
      display: block; }

.regular-package {
  padding: 10px; }

.featured-package {
  padding: 10px;
  background-color: #0080ff; }
  .featured-package > p {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff; }

.supplement h2 {
  font-weight: 700;
  text-align: center; }
